<!DOCTYPE html>
<html>
    <head>
        <title>Coinage Distributor </title>
    </head>
    <body>
        <div class="container">
            <form action ="/results" method="post">
                <label for='input'>Enter your change:</label>
                <input id="input" name="input" type="number">
                <br>
                <label for='goal'>Enter your preferred coinage by cent amount</label>
                <input type='number' id='goal' name='goal' value="25">

                <button type='submit'>Calculate</button>
            </form>
        </div>
    </body>
</html>
