<!DOCTYPE html>
<html>
    <head>
        <title>Coinage Distributor </title>
    </head>
    <body>
        <div class="container">

            <h1>Coinage breakdown!</h1>
            <ul>
                <li>Quarters: {{change_array[0]}}</li>
                <li>Dimes: {{change_array[1]}}</li>
                <li>Nickels: {{change_array[2]}}</li>
                <li>Pennies: {{change_array[3]}}</li>
            </ul>
            <p><a href="/">Home</a></p>
        </div>
    </body>
</html>
